# *Importing required libraries and packages*

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.linear_model import LinearRegression,BayesianRidge
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn import ensemble
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn import neighbors
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score

# *Data preprocessing & Feature Engineering*

In [2]:
grade_dataset=pd.read_csv('The_Grades_Dataset.csv')

In [3]:
grade_dataset.describe() # We have record of 571 students, min and max value shows there there are no outliers in dataset.

             CGPA
count  571.000000
mean     2.954888
std      0.620552
min      0.800000
25%      2.538000
50%      3.029000
75%      3.451000
max      3.985000

In [4]:
print(grade_dataset.shape) # So there are total 41 courses 
grade_dataset.head(5)  # Data encoding is required to convert courses from object to float types because each grade
#has weightage on which calculation is required for CGPA prediction.

(571, 43)

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448

In [5]:
#NominalEncoding Method
def Nominal_encoder(model):
    features=model.columns 
    for i in range(len(features)):
        model[features[i]]=model[features[i]].replace(['A+','A','A-','B','B+','B-','C','C+','C-','D','D+','F','W','WU','I'],
                                              [4,4,3.7,3,3.4,2.7,2,2.4,1.7,1,1.4,0, 0,0,0])

# **MODEL **

(comprises of GPs of First year courses only)

In [6]:
model1_dataset=grade_dataset.drop(["HS-205/20","MT-222","EE-222","MT-224","CS-210","CS-211","CS-203","CS-214","CS-212","EE-217","CS-215","Seat No.","CS-301","CS-302","MT-331","EF-303","HS-304","TC-383","MT-442","EL-332","CS-318","CS-306","CS-312","CS-317","CS-403","CS-421","CS-406","CS-414","CS-419","CS-423","CS-412"],axis=1)

In [7]:
print(model1_dataset.shape)
model1_dataset  # So in this model only 11 courses from First year are used for final CGPA prediction.

(571, 12)

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,CS-107,CGPA
0,B-,D+,C-,C,C-,D+,D,C-,B-,C-,C-,2.205
1,A,D,D+,D,B-,C,D,A,D+,D,B+,2.008
2,A,B,A,B-,B+,A,B-,B+,A-,A-,B-,3.608
3,D,C+,D+,D,D,A-,D+,C-,D,C+,D,1.906
4,A-,A-,A-,B+,A,A,A-,B+,A,A-,C,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...
566,B,A,A,A-,A+,A,A-,A-,A+,B+,A+,3.798
567,A+,A,A,A,A,A,A,A-,A,A,A+,3.772
568,B,A,A-,B+,A,A,A,A,A,B,A+,3.470
569,A,B+,D,A,D,D+,B-,C-,B-,C-,A+,2.193
570,C,D,D,C,C,D+,B,C+,C,D+,B-,1.753

In [8]:
model1_dataset.isnull().sum()

PH-121       0
HS-101       0
CY-105       1
HS-105/12    1
MT-111       2
CS-105       0
CS-106       2
EL-102       2
EE-119       2
ME-107       2
CS-107       2
CGPA         0
dtype: int64

In [9]:
model1_dataset.dropna(inplace=True)
model1_dataset.shape # After dropping null rows the student record are decremented by 6 and it's fine to drop some rows rather then imputing it.

(566, 12)

In [10]:
Nominal_encoder(model1_dataset) # calling our nominal encoding method defined above.
model1_dataset

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,CS-107,CGPA
0,2.7,1.4,1.7,2.0,1.7,1.4,1.0,1.7,2.7,1.7,1.7,2.205
1,4.0,1.0,1.4,1.0,2.7,2.0,1.0,4.0,1.4,1.0,3.4,2.008
2,4.0,3.0,4.0,2.7,3.4,4.0,2.7,3.4,3.7,3.7,2.7,3.608
3,1.0,2.4,1.4,1.0,1.0,3.7,1.4,1.7,1.0,2.4,1.0,1.906
4,3.7,3.7,3.7,3.4,4.0,4.0,3.7,3.4,4.0,3.7,2.0,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...
566,3.0,4.0,4.0,3.7,4.0,4.0,3.7,3.7,4.0,3.4,4.0,3.798
567,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.7,4.0,4.0,4.0,3.772
568,3.0,4.0,3.7,3.4,4.0,4.0,4.0,4.0,4.0,3.0,4.0,3.470
569,4.0,3.4,1.0,4.0,1.0,1.4,2.7,1.7,2.7,1.7,4.0,2.193
570,2.0,1.0,1.0,2.0,2.0,1.4,3.0,2.4,2.0,1.4,2.7,1.753

In [11]:
X_m1 =model1_dataset.values[:, 0:11]  # INPUTS
Y_m1 =model1_dataset.values[:, 11]    #OUTPUT


#**Algorithm 1:** *Linear Regression*

In [12]:
#Train Test Splitting 
x_train,x_test,y_train,y_test=train_test_split(X_m1,Y_m1,test_size=0.2,random_state=3)

def model1Algo1(mode):
    if (mode=='train'):
        LR = LinearRegression()
        LR.fit(x_train,y_train)
        y_pred=LR.predict(x_test)

        print("mean_sqrd_error is==",mean_squared_error(y_test,y_pred))
        print('Training data r-square:', LR.score(x_train,y_train))
        print('Test data r-square:', LR.score(x_test,y_test))

        print(LR.predict([[1,1,4,3.7,3.4,1,1,1,1,1,3]]))
        print(LR.predict([[4,4,4,4,4,4,4,4,4,4,4]]))
    elif (mode=='test'):
        LR=LinearRegression()
        LR.fit(X_m1,Y_m1)
        return LR
    else:
        print("Invalid args")
model1Algo1("train")

mean_sqrd_error is== 0.060042976039880756
Training data r-square: 0.8590900140924123
Test data r-square: 0.8262073187863757
[2.14208953]
[3.84006677]


#**Algorithm 2:** *Polynomial Regression*

In [13]:
#Train Test Splitting 
x_train,x_test,y_train,y_test=train_test_split(X_m1,Y_m1,test_size=0.2,random_state=3)

def model1Algo2(mode):
    if (mode=='train'):
        deg=2   #if try 3 and 4 model will over fit
        X_train_poly2=PolynomialFeatures(degree=deg).fit_transform(x_train)
        X_train_poly2=pd.DataFrame(X_train_poly2)
        X_train_poly2=X_train_poly2.drop([0],axis=1)

        PM=LinearRegression()
        PM.fit(X_train_poly2,y_train)

        print('Training data r-square:', PM.score(X_train_poly2, y_train))

        X_test_poly2=PolynomialFeatures(degree=deg).fit_transform(x_test)
        X_test_poly2=pd.DataFrame(X_test_poly2)
        X_test_poly2=X_test_poly2.drop([0],axis=1)
        y_pred=PM.predict(X_test_poly2)

        print('Test data r-square:', PM.score(X_test_poly2,y_test))
        print('Number of non-zero features:',np.sum(PM.coef_ != 0))
        print("mean_sqrd_error is:",mean_squared_error(y_test,y_pred))

        test=PolynomialFeatures(degree=2).fit_transform([[4,2.7,1,3,1,2,1,3.7,4,4,1]])
        test=pd.DataFrame(test)
        test=test.drop([0],axis=1)
        print(PM.predict(test))
    elif (mode=='test'):
        deg=2   #if try 3 and 4 model will over fit
        modified_x=PolynomialFeatures(degree=deg).fit_transform(X_m1)
        modified_x=pd.DataFrame(modified_x)
        modified_x=modified_x.drop([0],axis=1)
        PM=LinearRegression()
        PM.fit(modified_x,Y_m1)
        return PM
    else:
        print("Invalid args")
model1Algo2("train")

Training data r-square: 0.9081028241658478
Test data r-square: 0.8269416041597415
Number of non-zero features: 77
mean_sqrd_error is: 0.05978929056376308
[2.58097272]


#**Algorithm 3:** *Bayesian Ridge*

In [14]:
#Train Test Splitting 
x_train,x_test,y_train,y_test=train_test_split(X_m1,Y_m1,test_size=0.2,random_state=3)
# the above test_size is selected by hit and trial by first splitting test_size in range from 0.1- 0.9
# we can have any random_state but I need to fix it for a particular model's all algorithms so that I can find the best algorithm
def model1Algo3(mode):
    if (mode=='train'):
        BayReg =BayesianRidge(fit_intercept=True)
        BayReg.fit(x_train,y_train)
        Bay_pred = BayReg.predict(x_test)

        score=r2_score(y_test,Bay_pred )

        print("r2 socre is",score)
        print('Training data r-square for baysian:', BayReg.score(x_train,y_train))
        print("mean_sqrd_error is==",mean_squared_error(y_test,Bay_pred ))
        print(BayReg.predict([[2,3.4,0,1.4,1.7,2.7,0,1,3.7,3,4]])) # randomly predicted model on these inputs
    elif (mode=='test'):
        BayReg =BayesianRidge(fit_intercept=True)
        BayReg.fit(X_m1,Y_m1)
        return BayReg
    else:
        print("Invalid args")
model1Algo3("train")

r2 socre is 0.8269624563818387
Training data r-square for baysian: 0.8590438534099599
mean_sqrd_error is== 0.05978208640842687
[2.40046975]

# **MODEL 2**

(comprises of GPs of First year and Second year courses)

In [15]:
model2_dataset=grade_dataset.drop(['Seat No.','MT-442','CS-403','CS-421','CS-406','CS-414','CS-419','CS-423','CS-412',"CS-301","CS-302","MT-331","EF-303","HS-304","TC-383","EL-332","CS-318","CS-306","CS-312","CS-317"],axis=1)

In [16]:
model2_dataset.isnull().sum()
model2_dataset.dropna(inplace=True)

In [17]:
Nominal_encoder(model2_dataset)

In [18]:
X_m2 =model2_dataset.values[:, 0:22]  # INPUTS
Y_m2 =model2_dataset.values[:, 22]    #OUTPUT


#**Algorithm 1:** *Linear Regression*

In [20]:
#Train Test Splitting 
x_train,x_test,y_train,y_test=train_test_split(X_m2,Y_m2,test_size=0.2,random_state=2)
def model2Algo1(mode):
    if (mode=='train'):
        LReg = LinearRegression()
        LReg.fit(x_train,y_train)
        y_pred=LReg.predict(x_test)

        print("mean_sqrd_error is==",mean_squared_error(y_test,y_pred))
        print('Training data r-square:', LReg.score(x_train,y_train))
        print('Test data r-square:', LReg.score(x_test,y_test))

        print(LReg.predict([[4,3.6,4,2.6,2.3,4,2.6,4,1.9,4,4,2.2,4,3.4,4,2.4,3.0,4,3.7,4,3.7,1.9]]))
    elif (mode=='test'): # testing our implemented model on run time entry by user 
        LReg = LinearRegression()
        LReg.fit(X_m2,Y_m2)
        return LReg
    else:
        print('invalid args')
model2Algo1('train')

mean_sqrd_error is== 0.016631688831417323
Training data r-square: 0.9467445945612428
Test data r-square: 0.9537238563820534
[3.12621162]


#**Algorithm 2:** *KNN Regressor*

In [21]:
#Train Test Splitting 
x_train,x_test,y_train,y_test=train_test_split(X_m2,Y_m2,test_size=0.2,random_state=2)
def model2Algo2(mode):
    if mode=='train':
        params = {'n_neighbors':[2,3,9,8,7]}
        knn = neighbors.KNeighborsRegressor()
        model_knn = GridSearchCV(knn, params, cv=5)
        model_knn.fit(x_train,y_train)
        y_pred=model_knn.predict(x_test)
        print("Training Accuracy:",model_knn.score(x_train,y_train))
        print("Testing Accuracy:",model_knn.score(x_test,y_test))
        print('Mean Squared error:',mean_squared_error(y_test,y_pred))
        print(model_knn.best_params_) # this k value will be used for run time prediction prediction
        print(model_knn.predict([[4,3.6,4,2.6,2.3,4,2.6,4,1.9,4,4,2.2,4,3.4,4,2.4,3.0,4,3.7,4,3.7,1.9]]))
    elif mode=='test':
        knn=KNeighborsRegressor(n_neighbors=9) # As found during training
        model_knn=knn.fit(X_m2,Y_m2)
        return model_knn
    else:
        print("Invalid args")
model2Algo2('train')

Training Accuracy: 0.9305600039241697
Testing Accuracy: 0.9151027146643392
Mean Squared error: 0.03051216289741069
{'n_neighbors': 9}
[3.46822222]

# **MODEL 3**

(comprises of GPs of First year, Second year and Third year courses)

In [22]:
model3_dataset=grade_dataset.drop(['Seat No.','MT-442','CS-403','CS-421','CS-406','CS-414','CS-419','CS-423','CS-412'],axis=1)

In [23]:
model3_dataset.isnull().sum()
model3_dataset.dropna(inplace=True) # 12 rows deleted
model3_dataset.shape

(559, 34)

In [24]:
Nominal_encoder(model3_dataset)

In [25]:
X_m3= model3_dataset.values[:, 0:33]  # INPUTS
Y_m3= model3_dataset.values[:, 33]    #OUTPUT


#**Algorithm 1:** *Linear Regression*

In [27]:
#Train test splitting
x_train,x_test,y_train,y_test=train_test_split(X_m3,Y_m3,test_size=0.2,random_state=3)
def model3Algo1(mode):
    if mode==('train'):
        LReg3 = LinearRegression()
        LReg3.fit(x_train,y_train)
        y_pred=LReg3.predict(x_test)

        print("mean_sqrd_error is==",mean_squared_error(y_test,y_pred))
        print('Training data r-square:', LReg3.score(x_train,y_train))
        print('Test data r-square:', LReg3.score(x_test,y_test))
        print(LReg3.predict([[4,2.7,1,3,1,2,1,3.7,4,4,1,1,1,1,4,3,2,2,2.3,2.6,1,1,1,4,4,4,4,0,0,0,2.5,3.5,4]]))
    elif mode==('test'):
        LReg3 = LinearRegression()
        LReg3.fit(X_m3,Y_m3)
        return LReg3
    else:
        print('Invalid args')
model3Algo1('train')

mean_sqrd_error is== 0.0034003854117276994
Training data r-square: 0.9909759541822768
Test data r-square: 0.9903984838368858
[2.5904333]


#**Algorithm 2:** *Gradient Boosting Regressor*

In [28]:
#train test splitting
x_train,x_test,y_train,y_test=train_test_split(X_m3,Y_m3,test_size=0.2,random_state=3)

# these parameters are best for my model, have used hit and trial to obtain these.
params = {
    "n_estimators": 500,
    "max_depth": 4,
    "min_samples_split":4,
    "learning_rate": 0.1,   # tried different learning rates found it best
    "loss": "squared_error",
}
def model3Algo2(mode):# Here we have changed each our model training in function so that when user calls our algo we test it on entire sample 
    if mode=='train':
        reg_model = ensemble.GradientBoostingRegressor(**params)
        reg_model.fit(x_train, y_train)
        mse = mean_squared_error(y_test, reg_model.predict(x_test))
        print("The mean squared error on test set is:", mse)
        print("Training Accuracy:",reg_model.score(x_train,y_train))
        print("Testing Accuracy:",reg_model.score(x_test,y_test))  

        print(reg_model.predict([[4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4]]))
        print(reg_model.predict([[4,2.7,1,3,1,2,1,3.7,4,4,1,1,1,1,4,3,2,2,2.3,2.6,1,1,1,4,4,4,4,0,0,0,2.5,3.5,4]]))
    elif mode=='test':
        reg_model = ensemble.GradientBoostingRegressor(**params)
        reg_model.fit(X_m3,Y_m3)
        return reg_model
    else:
        print('wrong args')
model3Algo2('train')

The mean squared error on test set is: 0.011569202047507748
Training Accuracy: 0.9999992012019582
Testing Accuracy: 0.9673325617530396
[3.97146302]
[2.75461272]

# **User Interface**

In [ ]:
grade_list=[]
print ("*** Welcome to our CGPA prediction system ***")
print("\nImplemented models and algos are as follows:\n\n1.Model 1- Linear Regression\n2.Model 1- Polynomial Regression\n3.Model 1- Bayesian Ridge\n4.Model 2- Linear Regression\n5.Model 2- KNN Regressor\n6.Model 3- Linear Regression\n7.Model 3- Gradient Boosting Regressor\n8.All Algorithms of Model 1 on given input\n9.All Algorithms of Model 2 on given input\n10.All Algorithms of Model 3 on given input\n11. To exit ")
choice=int(input("\nEnter serial no. to proceed accordingly:"))
if choice>=1 and choice<=10 :
    print("\nEnter grades corresponding to each course in this format A+,A-,B,D and so on.")
    print("\nGrades must be entered for course in the order as in csv file provided from left to right")
    # taking multiple inputs at a time
    grade_list = [str(grade_list) for grade_list in input("\nEnter grades with space:").split()]
    data=pd.DataFrame(grade_list,columns = ['grades'])  
    Nominal_encoder(data)  # This is our encoding method defined above 
    t=data.values.reshape(1,len(grade_list)) 
    if choice==1:
        test=model1Algo1('test')
        prediction=test.predict(t)
        print("\nPredicted CGPA according to Model 1, Linear Regression is :",prediction[0])
    elif choice==2:
        test=model1Algo2('test')
        modified_test=PolynomialFeatures(degree=2).fit_transform(t)
        modified_test=pd.DataFrame(modified_test)
        modified_test=modified_test.drop([0],axis=1)
        prediction=test.predict(modified_test)
        print("\nPredicted CGPA according to Model 1, Polynomial Regression is :",prediction[0])
    elif choice==3:
        test=model1Algo3('test')
        prediction=test.predict(t)
        print("\nPredicted CGPA according to Model 1, Bayesian Ridge is :",prediction[0])
    elif choice==4:
        test=model2Algo1('test')
        prediction=test.predict(t)
        print("\nPredicted CGPA according to Model 2, Linear Regression is :",prediction[0])
    elif choice==5:
        test=model2Algo2('test')
        prediction=test.predict(t)
        print("\nPredicted CGPA according to Model 2, KNN Regressor is :",prediction[0])
    elif choice==6:
        test=model3Algo1('test')
        prediction=test.predict(t)
        print("\nPredicted CGPA according to Model 3, Linear Regression is :",prediction[0])
    elif choice==7:
        test=model3Algo2('test')
        prediction=test.predict(t)
        print("\nPredicted CGPA according to Model 3, Gradient Boosting Regressor is :",prediction[0])
    elif choice==8:
        test=model1Algo1('test')
        prediction=test.predict(t)
        print("\nPredicted CGPA according to Model 1, Linear Regression is :",prediction[0])
        test=model1Algo2('test')
        modified_test=PolynomialFeatures(degree=2).fit_transform(t)
        modified_test=pd.DataFrame(modified_test)
        modified_test=modified_test.drop([0],axis=1)
        prediction=test.predict(modified_test)
        print("\nPredicted CGPA according to Model 1, Polynomial Regression is :",prediction[0])
        test=model1Algo3('test')
        prediction=test.predict(t)
        print("\nPredicted CGPA according to Model 1, Bayesian Ridge is :",prediction[0])
    elif choice==9:
        test=model2Algo1('test')
        prediction=test.predict(t)
        print("\nPredicted CGPA according to Model 2, Linear Regression is :",prediction[0])
        test=model2Algo2('test')
        prediction=test.predict(t)
        print("\nPredicted CGPA according to Model 2, KNN Regressor is :",prediction[0])
    elif choice==10:
        test=model3Algo1('test')
        prediction=test.predict(t)
        print("\nPredicted CGPA according to Model 3, Linear Regression is :",prediction[0])
        test=model3Algo2('test')
        prediction=test.predict(t)
        print("\nPredicted CGPA according to Model 3, Gradient Boosting Regressor is :",prediction[0])
else:
        print("*** Thankyou ***")

*** Welcome to our CGPA prediction system ***

Implemented models and algos are as follows:

1.model 1- Linear Regression
2.model 1- Polynomial Regression
3.model 1- Bayesian Ridge
4.model 2- Linear Regression
5.model 2- KNN Regressor
6.model 3- Linear Regression
7.model 3- Gradient Boosting Regressor
8.All algorithms of model 1 on given input
9.All algorithms of model 2 on given input
10.All algorithms of model 3 on given input
11. To exit

Enter serial no. to proceed accordingly:8

Enter grades corresponding to each course in this format A+,A-,B,D and so on.

Grades must be entered for course in the order as in csv file provided from left to right

Enter grades with space:A A A A A A A A A A A

Predicted CGPA according to model 1, linear regression is : 3.8445347806658323

Predicted CGPA according to model 1, Polynomial regression is : 3.9342130267881785

Predicted CGPA according to model 1, Baysian Ridge is : 3.841373151513407